body {
    background-color: #ffe6ee;
}

.headershoot-wrapper {

    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem 0;
}


.headershoot {

    border-radius: 50%;
    max-width: 200px;
    width: 70%;
}

h1 {

    color: rgb(255, 174, 201);
    font-family:cursive;
}

h3 {
    padding-top: 1px;
    font-size: 16px;
	text-align: center;
font-family:cursive;
color: #A5A5A5 ;
}
.The-btn {

    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


    .me-btn {

        color: white;
        background-color: #fca1bc;
        font-size: 18px;
        font-family:cursive;
        border:rgb(255, 255, 255);
        padding: 1rem 2rem;
        border-radius: 5px;
        cursor: pointer;
        /* box-shadow: 0 5px 20px rgb(0 0 0 / 30%); */
        }

        .me-btn:hover {
            background-color:#FFD1E8 ;
        }
        
p {

    font-family: monospace; 
    display: block;
    margin: auto;
    text-align: center;
    color: #ff6a9c;
    margin-top: 50px;

}

@media screen and (max-width:767px) {
	body {

        width: 100%;
    }

    .headershoot-wrapper {
        
        width: 100%;
        padding: 1rem 0;
    }

    .The-btn {

        margin-top: 1rem;
    }
    p {

        margin-top: 150px;
    }
	
}
